.classpath
.cache-main
.DS_Store
.settings
.project
.pydevproject
**/__pycache__
*.aux
*.bak
*.bcf
*.bbl
*.blg
*.dvi
*.log
*.out
*.pyc
*.glob
*.vo
*.run.xml
*/.Rhistory
**/.Rhistory
*/.RData
**/.RData
**/*solutions.*
**/*solution.*
!src/site/discrete/coq-propositional/lab01_tasks_solutions.v
!src/site/discrete/coq-propositional/lab01_template_solutions.v
bin/
target/
src/target
src/math-build/null
src/site/visualizations/source-material/
src/site/algorithms/source-material/
src/site/numtheory/source-material/
src/site/discrete/source-material/
src/site/rbs/**/*.html
!src/site/rbs/index.html
src/site/prob/**/*.html
!src/site/prob/index.html
src/site/tale/**/*.html
!src/site/tale/index.html
src/site/exam/**/*.html
!src/site/exam/index.html
src/site/static/*.pdf
src/site/source_material
!src/site/prob/themes/ddgatve/base.html
!src/site/exam/themes/ddgatve/base.html
!src/site/tale/themes/ddgatve/base.html
!src/site/index.html
src/site/discrete/static/coq/*.glob
src/site/discrete/static/coq/*.v#
src/site/discrete/static/coq/*.vo


