.classpath
.cache-main
.DS_Store
.settings
.project
.pydevproject
**/__pycache__
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.log
*.out
*/.Rhistory
**/.Rhistory
*/.RData
**/.RData
bin/
target/
src/site/algorithms/source-material/
src/site/numtheory/source-material/
src/site/miscellaneous/**/*.html
!src/site/miscellaneous/index.html
src/site/prob/**/*.html
!src/site/prob/index.html
src/site/tale/**/*.html
!src/site/tale/index.html
src/site/exam/**/*.html
!src/site/exam/index.html
src/site/static/*.pdf
src/site/source_material
!src/site/prob/themes/ddgatve/base.html
!src/site/exam/themes/ddgatve/base.html
!src/site/tale/themes/ddgatve/base.html
!src/site/index.html
