/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; 
}

/* KAP */
.reveal section.level1 {
  top: 21px !important;
}

/* KAP */
.reveal section.level2 {
  top: 21px !important;
}



/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; 
  text-align: left;
}



/* KAP added */
.reveal h1.LOREFFF, 
.reveal h1.sample, .reveal h1.summary, .reveal h1.quiz, .reveal h1.theory, .reveal h1.soln, .reveal h1.hints, .reveal h1.reading, .reveal h1.strategies, .reveal h1.yellow, .reveal h2.sample, .reveal h2.summary, .reveal h2.quiz, .reveal h2.theory, .reveal h2.soln, .reveal h2.hints, .reveal h2.reading, .reveal h2.strategies, .reveal h2.yellow {
  color: white;
  padding: 2px 20px 2px 20px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
}

/* KAP added */
.reveal h1.sample, .reveal h2.sample {
  background-color: #FF6C0C;
}

/* KAP added */
.reveal h1.summary, .reveal h2.summary {
  background-color: #0095CD;
}

/* KAP added */
.reveal h1.quiz, .reveal h2.quiz {
  background-color: #2F5370;
}

/* KAP added */
.reveal h1.theory, .reveal h2.theory {
  background-color: silver;
  color: black;
}

/* KAP added */
.reveal h1.hints, .reveal h2.hints {
  background-color: #8C0000;
}

/* KAP added */
.reveal h1.soln, .reveal h2.soln {
  background-color: #43B02A;
}

/* KAP added */
.reveal h1.strategies, .reveal h2.strategies {
  background-color: #3D1A73;
}

/* KAP added */
.reveal h1.reading, .reveal h2.reading {
  background-color: #2F5370;
}


/* KAP added */
.reveal h1.yellow, .reveal h2.yellow {
  background-color: yellow;
  color: black;
}

/* KAP added */
.reveal h1.LOREFFF {
  background-color: silver;
  color: gray;
  font-weight: normal;  
  font-size: 80%;
}

.reveal h2.sample, .reveal h2.summary, .reveal h2.quiz, .reveal h2.theory, .reveal h2.soln, .reveal h2.hints, .reveal h2.yellow, .reveal h2.strategies, .reveal h2.reading {
   text-transform: none;
   font-weight: normal !important;
}


/* KAP added */
.reveal span.caption {
   font-size: 80%;
   font-style: italic;
   color: #0066CC;
}


.reveal table.grid2x3 {
   border: none;
   width: 100%;
}

.reveal table.grid2x3 tr {
   height: 30%;
}

.reveal table.grid2x3 td {
   width: 33%;
   background-color: white;
   border: none;
   vertical-align: top;
   padding: 1% 1% 1% 1%;
}

.reveal hgroup.reading {
  padding: 20px 20px 20px 20px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  width: 40%;
  background-color: #eeeeee;
  border-color: red;
  font-size:90%;
  margin: 0% 2% 0% 2%;
}

.reveal hgroup.reading u {
/*
highligting color/underline color - 
from the 3Blue1Brown channel "windmill" video
*/
/*
   background-color: #D3EFEC; / #7DBBB1;
*/

   background-color: #90d6d1;
   text-decoration: none; 
}

.reveal hgroup.reading sup {
   background-color: yellow;
   font-size: 60%;
}


/* KAP added */
h1 + hgroup, h2 + hgroup {
  float: left;
  width: 47%;
  margin: 0% 2.5% 0% 0%;
}


hgroup ~ hgroup {
  float: left;
  width: 47%;
  margin: 0% 0% 0% 2.5%;
}



.reveal h1 {
  font-size: 1.2em; 
}

/*
.reveal a {
.mw-parser-output .external {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(/w/skins/Vector/images/external-link-ltr-icon.png?325de);
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%221…885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E %3C/svg%3E);
    padding-right: 13px;
}
*/

.reveal h2 {
  font-size: 1.1em; }

.reveal h3 {
  font-size: 1em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  font-size: 0.9em;
  margin: 10px 0;
  line-height: 1.2; 
  text-align: left;
}

/* KAP */

blue {
  color: #0070C0 !important;
  /* color: #000080 !impportant; */
}

/* KAP */
red {
  color: #FF0000 !important;
}

/* KAP */
green {
  color: darkgreen !important;
}

/* KAP */
white {
  color: white !important;
}

/* KAP */
.LOwhy {
  background-image: url('objective-slide.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* KAP */
.LOwhy section {
  background-color: white;
  z-index: 10;
}

/* KAP */
.LOwhy h1 {
  visibility:hidden !important;
}

/* KAP */
.LOwhy h2 {
  color: white;
  text-transform: none;
}

.reveal small {
  text-align: left !important;
  font-size: 0.8em;
}

.reveal li {
  font-size: 0.8em;
  line-height: 1.2;
}

/* KAP */
.reveal small ul {
  margin-top: 20px;
}

/* KAP */
.reveal small li {
  font-family: "Lucida Console", "Courier New", monospace;
}

div.bigWhy {
  background-color: #43B02A;
  font-weight:bold;
  color:white;
  padding:20px;
  position:absolute;
  top:30px;
  left:0px;
  height:150px;
  width:60%;
}

div.smallWhy {
  z-index:1; 
  background-color:white;
  border: 1px solid silver; 
  padding: 20px;
  position: absolute; 
  top: 190px; 
  left:30px; 
  width:80%; 
  height: 350px; 
}



/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
/*  display: inline-block; */
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; 
  border-top: 1px solid black;
  border-left: 1px solid black;
  font-size: 0.7em;
}

.reveal table th {
  font-weight: bold; 
  text-align: center;
  padding: 0.1em 0.4em 0.1em 0.4em;
  border-bottom: 1px solid black; 
  border-right: 1px solid black;
  background-color: #bce4e5;
}

.reveal table td {
  text-align: right;
  padding: 0.1em 0.4em 0.1em 0.4em;
  border-bottom: 1px solid black; 
  border-right: 1px solid black;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }


table.optable td {
  text-align: left;
}


.reveal div.pseudocode {
  background-color: #ffffcc; 
  padding: 5px 20px 5px 20px; 
  font-family:serif; 
  font-size:70%;
  border: 1px solid #cccccc;
}

.reveal div.pseudocode p.title {
  line-height: 1.5;
}


.reveal table.pseudocode {
  background-color: #e5e3e1; 
  font-family:serif; 
  font-size:70%;
  border: 1px solid #cccccc;
  width: 100%;
}

.reveal table.pseudocode tr th {
  background-color: #e5e3e1;
  font-weight: normal;
  text-align: left;
  line-height: 1.5;
  border: none;
}

.reveal table.pseudocode tt {
  font-variant: small-caps;
  font-family:serif; 
}

.reveal table.pseudocode tr td:nth-child(1) {
  font-size:70%;
  padding: 0px 30px 0px 0px;
  color: #666666;
  border: none;
}

.reveal table.pseudocode tr td:nth-child(2) {
  text-align: left;
  padding: 0px 0px 0px 0px;
  border: none;
}

.reveal table.pseudocode td.ind1 {
  padding-left:2em !important;
}

.reveal table.pseudocode td.ind2 {
  padding-left:4em !important;
}

.reveal table.pseudocode td.ind3 {
  padding-left:6em !important;
}




/*
.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }
*/

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

/* KAP */
/*
.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }
*/

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a76dd;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 0px 0px;
  background: rgba(255, 255, 255, 0.12);
/* KAP */
/*
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); 
*/
}

.reveal figure {
  margin-block-start: 1px !important;
  margin-block-end: 1px !important;
  margin-inline-start: 1px !important;
  margin-inline-end: 1px !important;
}

.reveal figcaption {
  display: none !important;
}

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #2a76dd; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2a76dd; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }
